$popup-bg-color: hsl(217, 19%, 35%);
$heading-font-color: hsl(214, 17%, 51%);
$default-font-color: hsl(212, 23%, 69%);
$main-bg-color: hsl(210, 46%, 95%);
$heavy-font-weight: 700;
$light-font-weight: 500;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Manrope",sans-serif;
    background-color: $main-bg-color;
    color: $heading-font-color;
    font-weight: $light-font-weight;
}
.container {
    box-shadow: 0 2px 10px rgba(225, 225, 225, 0.7);
    display: grid;
    z-index: 1;
    position: relative;
    border-radius: .75rem;
    margin: 0 auto;
    overflow: clip;
    width: min(400px, 90%);
    .showcase-pic {
        overflow: hidden;
        height: 200px;
        img{
            transform: translateY(-10%);
            background-image: url('images/drawers.jpg');
            max-width: 100%;
            background-size: cover;
        }
    }
    .card {
        padding: 2.5rem 2rem;
        padding-block-end: 1.5rem;
        background-color: #fff;
        h1 {
            font-size: 1.05rem;
            font-weight: $heavy-font-weight;
            margin: 0;
            color: $popup-bg-color;
        }
        p{
            font-size: .875rem;
        }
        .author{
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 20px;
            align-items: center;
            img{
                border-radius: 50%;
                width: 40px;
            }
            .name__date {
                display: flex;
                flex-direction: column;
                p{
                    color: $default-font-color;
                    margin: 0;
                }
                .name {
                    margin: 0;
                    font-weight: 700;
                    font-size: .825rem;
                    color: $popup-bg-color;
                }
            }
        }
        .share {
            z-index: 3;
            display: grid;
            place-items: center;
            width: 29px;
            aspect-ratio: 1 / 1;
            background-color: $main-bg-color;
            border-radius: 50%;
            color: $heading-font-color;
            position: absolute;
            bottom: 1.6rem;
            right: 2rem;
            .share-pic {
                width: 15px;
            }
        }
        .share.active {
            background-color: $heading-font-color;
            .share-pic {
                color: #fff;
            }
        }
        .popup {
            width: 100%;
            padding-block: 15px ;
            padding-inline: 2rem;
            gap: 20px;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: 2;
            display: none;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: $popup-bg-color;
            img {
                width: 20px;
            } 
            p {
                font-size: .9rem;
                text-transform: uppercase;
                color: $default-font-color;
                letter-spacing: .5em;
            }
            .shape {
                visibility: hidden;
            }
        }
        .popup.active {
            display: flex;
        }
    }
}


@media (min-width: 1000px) {
    .container {
        z-index: 0;
        width: min(1000px, 90%);
        display: grid;
        grid-template-columns: 40% 60%;
        overflow: visible;
        .showcase-pic {
            border-radius: .5rem;
            display: grid;
            place-content: center;
            height: 100%;
            width: 100%;
            img {
                transform: translate(0, 0);
                // height: 100%;
                min-width: 120%;
            }
        }
        .card {
            overflow: hidden;
            border-radius: .5rem;
            z-index: 1;
            padding: 3rem;
            padding-block-end: 3rem;
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.15rem;
            }
            .author {
                img {
                    width: 50px;
                }
                .name__date {
                    .name {
                        font-size: 1.05rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
            .share {
                width: 50px;
                bottom: 3rem;
                right: 3rem;
                display: grid;
                place-content: center;
                i {
                    width: 30px;
                    transform: scale(120%);
                }
            }
            .popup.active {
                z-index: 5;
                width: 250px;
                bottom: 8rem;
                right: -3rem;
                left: unset;
                padding: 5px;
                padding-inline: 20px;
                border-radius: .5rem;
                .shape {
                    visibility: visible;
                    z-index: -1;
                    position: relative;
                    width: 30px;
                    height: 30px;
                    .pointer {
                        z-index: -2;
                        transform: rotate(45deg);
                        position: absolute;
                        background-color: $popup-bg-color;
                        width: 25px;
                        height: 25px;
                        right: 100px;
                        bottom: -25px;
                        p {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}